<h1> Welcome </h1>

<h2> View or update your bookmarks by clicking on the appropriate link below </h2>

<a href='/bookmarks'>View Bookmarks</a> <br>

<a href='/addbookmarks'>Update or Add Bookmarks</a>